<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/course.css">
    <link rel="stylesheet" href="css/about-us.css">
    <!-- Bootstrap CSS --> 
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="js/popper.min.js"></script>
    <title>Về chúng tôi</title>
</head>
<body>
    <header id="header" class="menu-top container-fluid">
        <div class="row">
            <div class="logo col-xl-2 col-lg-3 col-md-3 col-sm-3 col-6 "> <a href="/" title="Trang chủ"><img src="img/logo.png" alt="logo"></a></div>
            <div class="search col-xl-3">
                <form class="form" >
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Search" aria-label="Search" style="display: inline-block;height: 45px;padding-left: 20px; border-radius: 40px;" id="mysearch">
                        <div class="input-group-addon" style="margin-left: -50px; z-index: 3; border-radius: 40px; background-color: transparent; border:none; width: 11%">
                            <button class="btn btn-warning btn-sm" type="submit" style="border-radius: 20px; margin-top: 8px" id="search-btn"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
            <nav class="col-xl-7 col-lg-9 col-md-9 col-sm-9 col-6">
                <div class="wrap-menu">
                    <ul class="menu" >
                        <li class="level_1" ><a href="/dang-ky" title="">Đăng ký</a></li>
                        <li class="level_1" ><a href="/dang-nhap" title="">Đăng nhập</a></li>
                        <li class="level_1" ><a href="/lien-he" title="">Liên hệ</a></li>
                        <li class="level_1" >
                            <a href="#">
                                Trang <img src="img/right.png"></a>
                                <ul class="menu_level_2">
                                    <li class="level_2"><a href="/bai-viet" title="">Bài viết</a></li>
                                    <li class="level_2"><a href="/ve-chung-toi" title="">Về chúng tôi</a></li>
                                </ul>
                            
                        </li>
                        <li class="level_1" ><a href="/khoa-hoc" title="">Khóa học</a></li>
                        <li class="level_1" ><a href="/" title="">Trang chủ</a></li>
                    </ul>
                    <button class="button-menu"> 
                        <div class="icon"></div>
                        <div class="icon"></div>
                        <div class="icon"></div>
                    </button>
                </div>
            </nav>

        </div>
    </header>
    <!-- /header -->
    <section class="title-page container-fluid" style="background-image: url('img/breadcrumb-bkg-1.jpg');">
            <div class="content-slide">
                <h1>Về Chúng tôi</h1>
            </div>
    </section>
    <section class="container">
        <div class="wrapper">
            <div class="element-content">
                <div class="row">
                    <div class="left col-lg-6 col-md-6 col-sm-6">
                        <h3>Giá trị của chúng tôi</h3>
                        <p><i>Lead your future - Dẫn dắt tương lai của bạn</i></p>
                        <p>Được thành lập với sứ mệnh đem những giá trị thực tế và tốt nhất đến người sử dụng dịch vụ. Chúng tôi sẽ dẫn dắt bạn từ những bước đi đầu tiên trên hành trình trở thành lập trình viên chuyên nghiệp.</p>
                        <p>Các bạn sẽ nhận được những lợi ích tương xứng có một không hai khi làm việc với chúng tôi. Chúng tôi cam kết luôn cập nhật và bám sát công nghệ hiện đại nhất do vậy bạn sẽ luôn an tâm rằng mình sẽ bắt kịp thời đại.</p>
                    </div>
                    <div class="right col-lg-6 col-md-6 col-sm-6">
                        <img src="img/71.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="element-content">
                <div class="row">
                    <div class="left col-lg-6 col-md-6 col-sm-6">
                        <h3>Chúng tôi là ai?</h3>
                        <p>Được thành lập với sứ mệnh đem những giá trị thực tế và tốt nhất đến người sử dụng dịch vụ. Chúng tôi sẽ dẫn dắt bạn từ những bước đi đầu tiên trên hành trình trở thành lập trình viên chuyên nghiệp.</p>
                        <p>Các bạn sẽ nhận được những lợi ích tương xứng có một không hai khi làm việc với chúng tôi. Chúng tôi cam kết luôn cập nhật và bám sát công nghệ hiện đại nhất do vậy bạn sẽ luôn an tâm rằng mình sẽ bắt kịp thời đại.</p>
                    </div>
                    <div class="right col-lg-6 col-md-6 col-sm-6">
                        <h3>Chúng tôi làm những gì?</h3>
                        <p>Chúng tôi chuyên cung cấp dịch vụ đào tạo lập trình viên trực tuyến thông qua các khóa học với đa dạng các ngôn ngữ lập trình. Thời kì đầu chúng tôi tập trung vào nhóm đối tượng mới bắt đầu để tạo cho các bạn nền móng vững chắc. Sau khi có nền móng vững vàng thì bạn có thể bay xa bao nhiêu tùy thích. Quan điểm của chúng tôi là lấy cơ bản làm gốc cũng như cây mọc từ dưới đất lên muốn vững thì bộ rễ của nó phải sâu, phải rộng. Nhà muốn lên được nhiều tầng thì nền móng phải đủ vững vậy.</p>
                        <p>Ngoài ra chúng tôi cũng chia sẻ các kĩ năng cuộc sống, các thủ thuật công nghệ, các series blog kể về hành trình của chúng tôi. Chúng tôi cũng có những hướng dẫn, các bài giải mẫu cho các bạn học viên, sinh viên. Chúng tôi có các chương trình hỗ trợ học tập và tư vấn hướng nghiệp nhằm giúp cho các bạn trẻ tìm ra được con đường của riêng mình.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- footer -->
    <section id="footer">
        <div class="container">
          <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
              <h5>Thông tin liên hệ</h5>
              <ul class="list-unstyled quick-links">
                <li>Số 19 ngõ 87, Lê Thanh Nghị</li>
                <li>Hà Nội, Việt Nam</li>
                <li>0965927109</li>
                <li>phamichduong041299@gmail.com</li>
              </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
              <h5>Tienganhmienphi</h5>
              <ul class="list-unstyled quick-links">
                <li><a href="about-us.html"><i class="fa fa-angle-double-right"></i>Về chúng tôi</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right"></i>Liên hệ</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right"></i>Các bài viết</a></li>
              </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
              <h5>Hỗ trợ</h5>
              <ul class="list-unstyled quick-links">
                <li><a href="#"><i class="fa fa-angle-double-right"></i>Facebook Support</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right"></i>Câu hỏi thường gặp</a></li>
              </ul>
            </div>
          </div>
          <hr>  
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
              <p class="h6">Copyright Tienganhmienphi © 2021</p>
            </div>
            </hr>
          </div>  
        </div>
    </section>
    <!-- ./Footer -->
    <script src="js/common.js"> </script>
</body>
</html>