<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/course.css}">
    <!-- Bootstrap CSS --> 
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <link th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script th:src="@{/js/popper.min.js}"></script>
    <title>Các khóa học</title>
</head>
<body>
    <header id="header" class="menu-top container-fluid">
    <div class="row">
        <div class="logo col-xl-3 col-lg-3 col-md-3 col-sm-3 col-6 "> <a href="/" title="Trang chủ"><img th:src="@{/img/logo.png}" alt="logo"></a></div>

        <nav class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-6">
            <div class="wrap-menu">
                <ul class="menu" >
                    <li class="level_1" sec:authorize="isAuthenticated()">
                        <a href="#" sec:authentication="principal.FullName">
                            username </a>
                        <ul class="menu_level_2">
                            <li class="level_2"><a href="/tai-khoan" title="">Tài Khoản</a></li>
                            <li class="level_2"><a href="/dang-nhap?logout" title="">Đăng Xuất</a></li>
                        </ul>
                    </li>
                    <li class="level_1" sec:authorize="isAuthenticated()"><a href="/kiem-tra-online" title="">Thi Online</a></li>
                    <li class="level_1" sec:authorize="isAnonymous()"><a href="/dang-ky" title="">Đăng Ký</a></li>
                    <li class="level_1" sec:authorize="isAnonymous()"><a href="/dang-nhap" title="">Đăng Nhập</a></li>
                    <li class="level_1" ><a href="/lien-he" title="">Liên Hệ</a></li>
                    <li class="level_1" >
                        <a href="#">
                            Trang <img src="img/right.png"></a>
                        <ul class="menu_level_2">
                            <li class="level_2"><a href="/khoa-hoc" title="">Khóa Học</a></li>
                            <li class="level_2"><a href="/bai-viet" title="">Bài Viết</a></li>
                            <li class="level_2"><a href="/ve-chung-toi" title="">Về Chúng Tôi</a></li>
                        </ul>

                    </li>
                    <li class="level_1" ><a href="/" title="">Trang Chủ</a></li>
                </ul>
                <button class="button-menu">
                    <div class="icon"></div>
                    <div class="icon"></div>
                    <div class="icon"></div>
                </button>
            </div>
        </nav>

    </div>
</header>
    <!-- /header -->
    <section class="title-page container-fluid"
             th:style="'background-image:url(' + @{/img/breadcrumb-bkg-1.jpg} + ');'">

            <div class="content-slide">
                <h1>Khóa học</h1>
            </div>
    </section>
    <section class="container-fluid">
        <div class="row" style="max-width: 1200px !important;margin: 0 auto;">
            <h3 style="width: 100%;margin-top: 25px;">Tìm kiếm nâng cao</h3>
            <div class="search-course">
            <div  class="form-inline courses-ordering" >
                <label for="select_category" style="margin-right: 10px;">Các Khóa Học:</label>
                    <select class="form-control" id="select_category">
                        <option th:selected="${id==-1}" value="-1">Tất cả khóa học</option>
                        <option th:each="item : ${categories}" th:value="${item.id}" th:text="${item.name}"
                                th:selected="${item.id==id}"></option>
                    </select>
            </div>
            </div>
        </div>

        <div class="row" style="max-width: 1200px !important;margin: 0 auto;">
            <div class="course-content" >
                <div class="row">   
                    <div class="col-xl-4 col-lg-4 col-md-4" th:each="item:${courses}">
                        <div class="course-element">
                            <a th:href="@{'/khoa-hoc/'+${item.urlName}}">
                                <div class="course-image"  th:style="'background-image:url(data:image/jpeg;base64,' + ${item.imagetobase64} + ');'">
                                
                                </div>
                                <div class="course-content">
                                    <h4 th:text = "${item.courseName}"></h4>
                                    <!-- <p>Số chương: <span th:text = "${item.courseName}"></span></p> -->
                                    <p th:text = "${item.shortDescription}"></p>
                                </div>
                                <div class="course-footer">
                                    <div class="views"><i class="fa fa-users" aria-hidden="true"></i>999</div>
                                    <div class="course-footer-price">
<!--                                        <span class="price-old"><strike>2.000.000 đ</strike></span>-->
                                        <span class="price-new">Miễn phí</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>


    <!-- footer -->
    <section id="footer">
        <div class="container">
          <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
              <h5>Thông tin liên hệ</h5>
              <ul class="list-unstyled quick-links">
                <li>Số 19 ngõ 87, Lê Thanh Nghị</li>
                <li>Hà Nội, Việt Nam</li>
                <li>0965927109</li>
                <li>phamichduong041299@gmail.com</li>
              </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
              <h5>Tienganhmienphi</h5>
              <ul class="list-unstyled quick-links">
                <li><a href="about-us.html"><i class="fa fa-angle-double-right"></i>Về chúng tôi</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right"></i>Liên hệ</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right"></i>Các bài viết</a></li>
              </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
              <h5>Hỗ trợ</h5>
              <ul class="list-unstyled quick-links">
                <li><a href="#"><i class="fa fa-angle-double-right"></i>Facebook Support</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right"></i>Câu hỏi thường gặp</a></li>
              </ul>
            </div>
          </div>
          <hr>  
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
              <p class="h6">Copyright Tienganhmienphi © 2021</p>
            </div>
            </hr>
          </div>  
        </div>
    </section>
    <!-- ./Footer -->
    <script th:src="@{/js/common.js}"> </script>
</body>
</html>