<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/introduce-course.css}">
    <!-- Bootstrap CSS --> 
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <link th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script th:src="@{/js/popper.min.js}"></script>
    <title>Khóa học lập trình java căn bản</title>
</head>
<body>
    <header id="header" class="menu-top container-fluid">
        <div class="row">
            <div class="logo col-xl-2 col-lg-3 col-md-3 col-sm-3 col-6 "> <a href="/" title="Trang chủ"><img th:src="@{/img/logo.png}" alt="logo"></a></div>
            <div class="search col-xl-3">
                <form class="form" >
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Search" aria-label="Search" style="display: inline-block;height: 45px;padding-left: 20px; border-radius: 40px;" id="mysearch">
                        <div class="input-group-addon" style="margin-left: -50px; z-index: 3; border-radius: 40px; background-color: transparent; border:none; width: 11%">
                            <button class="btn btn-warning btn-sm" type="submit" style="border-radius: 20px; margin-top: 8px" id="search-btn"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
            <nav class="col-xl-7 col-lg-9 col-md-9 col-sm-9 col-6">
                <div class="wrap-menu">
                    <ul class="menu" >
                        <li class="level_1" sec:authorize="isAuthenticated()">
                            <a href="#" sec:authentication="principal.FullName">
                                username </a>
                            <ul class="menu_level_2">
                                <li class="level_2"><a href="/dang-nhap?logout" title="">Đăng Xuất</a></li>

                            </ul>

                        </li>
                        <li class="level_1" sec:authorize="isAnonymous()"><a href="/dang-ky" title="">Đăng ký</a></li>
                        <li class="level_1" sec:authorize="isAnonymous()"><a href="/dang-nhap" title="">Đăng nhập</a></li>
                        <li class="level_1" ><a href="/lien-he" title="">Liên hệ</a></li>
                        <li class="level_1" >
                            <a href="#">
                                Trang <img th:src="@{/img/right.png}"></a>
                            <ul class="menu_level_2">
                                <li class="level_2"><a href="/bai-viet" title="">Bài viết</a></li>
                                <li class="level_2"><a href="/ve-chung-toi" title="">Về chúng tôi</a></li>
                            </ul>

                        </li>
                        <li class="level_1" ><a href="/khoa-hoc" title="">Khóa học</a></li>
                        <li class="level_1" ><a href="/" title="">Trang chủ</a></li>
                    </ul>
                    <button class="button-menu"> 
                        <div class="icon"></div>
                        <div class="icon"></div>
                        <div class="icon"></div>
                    </button>
                </div>
            </nav>

        </div>
    </header>
    <!-- /header -->
    <section class="title-page container-fluid" th:style="'background-image:url('+ @{/img/breadcrumb-bkg-1.jpg}+');'">
            <div class="content-slide">
                <h1 th:text = "'Khóa Học: ' + ${course.courseName}">Khóa học lập trình căn bản</h1>
            </div>
    </section>
    <div class="introduce-course">
        <div class="container">
            <h2>Giới thiệu khóa học</h2>
            <p th:utext="${course.description}">thông tin giới thiệu khóa học TOIEC 350+</p>
            </div>
    </div>
    <section class="content-course ">
        
        <div class="container">
            <h2>Nội dung khóa học</h2>
            <div class="wrap-content-course">
                <div class="section" th:each="item: ${chapters}">
                    <h4 class="title-section" th:text = "${item.chapterName}">Giới thiệu</h4>
                    <a sec:authorize="isAuthenticated()" th:href="@{'/learn/' + ${name} +'/'+${#authentication.principal.Id}+'/'+ ${u.id} }" class="lecture" th:each="u: ${item.lectures}" >
                        <div class="title-lecture" >
                            <i class="fa fa-youtube-play"></i>
                            <span th:text= "${u.lectureName}"></span>
                        </div>
                        <div class="pull-right">
                            <button type="button" class="btn btn-preview">Xem ngay</button>
                        </div>
                    </a>
                    <a sec:authorize="isAnonymous()" th:href="@{'/learn/' + ${name} +'/'+${#authentication.principal}+'/'+ ${u.id} }" class="lecture" th:each="u: ${item.lectures}" >
                        <div class="title-lecture" >
                            <i class="fa fa-youtube-play"></i>
                            <span th:text= "${u.lectureName}"></span>
                        </div>
                        <div class="pull-right">
                            <button type="button" class="btn btn-preview">Xem ngay</button>
                        </div>
                    </a>
                </div>
            
                
            </div>
        </div>
    </section>


    <!-- footer -->
    <section id="footer">
        <div class="container">
          <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
              <h5>Thông tin liên hệ</h5>
              <ul class="list-unstyled quick-links">
                <li>Số 19 ngõ 87, Lê Thanh Nghị</li>
                <li>Hà Nội, Việt Nam</li>
                <li>0965927109</li>
                <li>phamichduong041299@gmail.com</li>
              </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
              <h5>Tienganhmienphi</h5>
              <ul class="list-unstyled quick-links">
                <li><a href="/ve-chung-toi"><i class="fa fa-angle-double-right"></i>Về chúng tôi</a></li>
                <li><a href="/lien-he"><i class="fa fa-angle-double-right"></i>Liên hệ</a></li>
                <li><a href="/bai-viet"><i class="fa fa-angle-double-right"></i>Các bài viết</a></li>
              </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
              <h5>Hỗ trợ</h5>
              <ul class="list-unstyled quick-links">
                <li><a href="#"><i class="fa fa-angle-double-right"></i>Facebook Support</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right"></i>Câu hỏi thường gặp</a></li>
              </ul>
            </div>
          </div>
          <hr>  
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
              <p class="h6">Copyright Tienganhmienphi © 2021</p>
            </div>
            </hr>
          </div>  
        </div>
    </section>
    <!-- ./Footer -->
    <script th:src="@{/js/common.js}"> </script>
</body>
</html>